
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>HISTORY</title>
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
		></script>
		<link
			rel="icon"
			href="https://img.freepik.com/premium-vector/car-parking-icon-parking-space-parking-lot-car-park-vector-icon-isolated-white-background_736051-1484.jpg"
			type="image/icon type"
		/>
		<link rel="stylesheet" href="../design/style.css" />
		<link rel="stylesheet" href="../design/navbar.css" />
		<link rel="icon" type="image/png" href="../design/icon.png">
		<script src="/js/signup.js" defer></script>
		<style>
			.navbar .leftSide {
			margin-left:0px;
			flex: 40%;
			height: 100%;
			display: flex;
		}
		
		.navbar .rightSide {
			flex: 60%;
			justify-content: center;
			height: 100%;
			display: flex;
		}
		.containers .history{
			color:white;
		}
		</style>
	</head>
	<body>
		<div class="navbar">
		        <div class="leftSide">
		            <div onclick="window.location.href='/map'" class="logo-button">
					</div>
		        </div>
		        <div class="rightSide">
		        	<a href="/">MAP</a>
		        	<a href="/socials">SOCIALS</a>
		            <a href="/about">ABOUT US </a>
		            <a href="/contact">CONTACT US </a>
		        </div>
		</div>
		<div class="dropdown">
			<input id="dropdown-toggle" class="dropdown-toggle">
			<label for="dropdown-toggle" class="dropdown-button" th:style="'background-image: url(' + ${user.getImg()} + ');'"></label>
			<div class="dropdown-content">
			<a href="/profile" class="profile-button">PROFILE</a>
			<a href="/history" class="profile-button">HISTORY</a>
			<a href="/signout" class="signout-button">SIGNOUT</a>
			</div>
		</div>
		<section>
			<form class="sign" th:action="@{/searchHistory}" th:object="${details}" method="post">
				<h1>History</h1>
				<div class="dialog-row">
					<label
						th:if="${param.error}"
						th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
						class="text-center redText"
					></label>
				</div>
				<div class="inputbox">
					<ion-icon name="person-outline"></ion-icon>
					<input
						name="username"
						id="username"
						type="text"
						pattern="\d{2}-\d{4}-\d{3}"
						th:field="*{username}"
						required
					/>
					<label for="">Sticker ID:</label>
				</div>
				<div class="containers">
					<div class="history">
						<div>Slot:  1B<span style="padding-left: 135px;">Date: 69-69-6969</span></div>
						<div>TimeIn: 69<span style="padding-left: 107px;">TimeOut: 70</span></div>
						<div>Duration: </div>
					</div>
					<div class="history">
						<div>Date: 69-69-6969</div>
						<div>Location: </div>
						<div>Duration: </div>
					</div>
					<div class="history">
						<div>Date: 69-69-6969 </div> 
						<div>Location: </div>
						<div>TimeIn: 69 TimeOut: 70 Duration: </div>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>
