<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sign In</title>
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
		></script>
		<link rel="stylesheet" href="../design/style.css" />
		<link rel="stylesheet" href="../design/navbar.css" />
		<link rel="icon" type="image/png" href="../design/icon.png">
	</head>
	<body>
		<div class="navbar">
	        <div class="leftSide">
	            <div onclick="window.location.href='/map'" class="logo-button">
				</div>
	        </div>
	        <div class="rightSide">
	        	<a th:href="@{/socials}">SOCIALS</a>
	            <a th:href="@{/about}">ABOUT US </a>
	            <a th:href="@{/contact}">CONTACT US </a>
	            <a th:href="@{/signin}">SIGN UP</a>
	        </div>
    	</div>  
		<section>
		
			<form class="sign" th:action="@{/signin}" th:object="${user}" method="post">
				<h1>Sign In</h1>
				<div class="inputbox">
					<ion-icon name="person-outline"></ion-icon>
					<input
						name="username"
						id="username"
						type="text"
						th:field="*{username}"
						required
					/>
					<!-- pattern="\d{2}-\d{4}-\d{3}" -->
					<label for="">IDnum (XX-XXXX-XXX)</label>
				</div>
				<div class="inputbox">
					<ion-icon name="lock-closed-outline"></ion-icon>
					<input
						name="password"
						type="password"
						id="password"
						th:field="*{password}"
						required
					/>
					<label for="">Password</label>
				</div>
				<div th:if="${param.error}" class="warning">Invalid IDnum or password </div>
				<div class="warning" th:if="${loginError}" th:text="${loginError}"></div>
				<div class="register">
					<p><a th:href="@{/forgot}">Forget Password ?</a></p>
				</div>
				<button id="submit" type="submit">Log in</button>
				<div class="register">
					<p>Don't have a account? <a th:href="@{/signup}"> Sign Up</a></p>
				</div>
			</form>
		</section>
	</body>
</html>
