<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sign Up</title>
		<script
			type="module"
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
		></script>
		<link rel="stylesheet" href="../design/style.css" />
		<link rel="stylesheet" href="../design/navbar.css" />
		<link rel="icon" type="image/png" href="../design/icon.png">
	</head>
	<body>
		<div class="navbar">
	        <div class="leftSide">
	            <div class="hiddenas">
	            	<a th:href="@{/}">HOME</a>
	             </div>
	        </div>
	        <div class="rightSide">
	        	<a th:href="@{/social}">SOCIALS</a>
	            <a th:href="@{/about}">ABOUT US </a>
	            <a th:href="@{/contact}">CONTACT US </a>
	            <a th:href="@{/signin}">SIGN IN</a>
	        </div>
    	</div>		
    	<section>
			<form class="sign" th:action="@{/signup}" th:object="${user}" method="post">
				<h1>Sign Up</h1>
				<div class="inputbox">
					<ion-icon name="person-outline"></ion-icon>
					<input
						type="text"
						id="username"
						name="username"
						th:field="*{username}"
						required
					/>
					<!-- pattern="\d{2}-\d{4}-\d{3}" -->
					<label for="">IDnum (XX-XXXX-XXX)</label>
				</div>
				<div class="inputbox">
					<ion-icon name="mail-outline"></ion-icon>
					<input type="email" id="email" name="email" th:field="*{email}" required />
					<label for="">Email</label>
				</div>
				<div class="inputbox">
					<ion-icon name="lock-closed-outline"></ion-icon>
					<input
						type="password"
						id="password"
						name="password"
						th:field="*{password}"
						required
					/>
					<label for="">Password</label>
				</div>
				<div class="inputbox">
					<ion-icon name="lock-closed-outline"></ion-icon>
					<input type="password" id="cpassword" name="cpassword" required />
					<label for="">Confirm Password</label>
				</div>
				<div class="warning" th:if="${usernameError}" th:text="${usernameError}"></div>
				<div class="warning" th:if="${passwordError}" th:text="${passwordError}"></div>
				<div class="warning" th:if="${emailError}" th:text="${emailError}"></div>
				<label
					class="success"
					th:if="${param.success}"
				>Success</label>
				<button id="submit" type="submit">Sign Up</button>
				<div class="register">
					<p>Already have an account? <a th:href="@{/signin}">Sign In</a></p>
				</div>
			</form>
		</section>
	</body>
</html>
