<label>Password</label>
				        <div class="inputbox">
				            <ion-icon name="eye-outline"></ion-icon>
				            <input
				                th:field="*{password}"
				                id="password"
				                required
				            />
				        </div>
				        <label>Confirm Password</label>
				        <div class="inputbox">
				            <ion-icon name="eye-off-outline"></ion-icon>
				            <input
				                th:field="*{password}"
				                id="cpassword"
				                required
				            />
				        </div>